{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" rel="home" class="w3-bar-item w3-button w3-padding-large w3-white">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />Home
    </a>
    <a href="{{ path('<front>') }}" rel="home" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 1</a>
    <a href="{{ path('<front>') }}" rel="home" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 2</a>
    <a href="{{ path('<front>') }}" rel="home" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 3</a>
    <a href="{{ path('<front>') }}" rel="home" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 4</a>


  {% endif %}
  
{% endblock %}
